{{define "title"}}
🕮 Рабочий каталог
{{end}}

{{define "main"}}
<div id="catalog">
    <h2>Здесь Будет справочник</h2> 
    <div><a href="/person/all">Люди</a></div>
    <div><a href="/sportsman/all">Спортсмены</a></div>
    <div><a href="/sportgrade/all">Спорт Разряды</a></div>  
    <div><a href="/referee/all">Судьи</a></div> 
    <div><a href="/refereegrade/all">Категории судей</a></div>
    <div><a href="/refereerole/all">Роли Cудей</a></div>
    <div><a href="/category/all">Дисциплины</a></div> 
    <div><a href="/region/all">Регионы</a></div> 
    <div> <a href="/gender/all">Пол</a> </div> 
</div>
{{end}}
