* {margin: 0;
padding: 0;
font-size: medium;
font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

html, body{
    height: 100%;
}

body{
    line-height: 1.5;
    background-color: white;
    color: black;
    overflow-y: scroll;
}
header, nav, footer, main {
    padding: 2px calc((100% - 800px)/2) 0;
}

 #catalog{
    display: flex;
    flex-direction: column;
 }